<!DOCTYPE html>
<html lang="en">
  <head>
    <html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kainos Careers - Home</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
<body>
    <div class="hero container">
    <h1>Welcome to Kainos Careers <span th:text="${greeting.content}"></span></h1>
    <p>View open roles across Kainos.</p>
  </div>
</body>
</html>